
.header {
    background-color: #FAFAFA; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
}


.links ul {
    display: flex;
    gap: 10px;
}

.links ul li {
    list-style: none;
    transition: .2s;
    cursor: pointer;
}

.links ul li:hover {
    color: #96588a;
}
